<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 0 auto;
        }
        label {
            margin: 10px 0;
        }
        input {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <!-- form of adding name email and phone  -->
    <form action="/add_user" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        
        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone">
        
        <input type="submit" value="Add User">
      </form>
      

    
</body>
</html>